@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

main{
    margin-top: 2%;
    display: inline-block;
    padding: 15px;
    position: relative;
}

body{
    text-align: center;
    backdrop-filter: blur(10px);
    background-image: url("../images/background.webp");
    background-size: 220vh;
    min-height: 100vh;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 53%;
    left: 50%;
    transform: translate(-60%, 20%); /* perde qualidade */
    height: 20%;
}

/*  -webkit-text-stroke: 0.01px;
    -webkit-text-stroke-color: rgb(33.7,36,26.2);
}*/

.pokemon__name  {
    position: absolute;
    font-weight: 600;
    top: 56%;
    right: 30%;
    font-size: clamp(8px, 5vw, 25px);
    color: #3a444d;
    text-transform: capitalize;
}

.pokemon__number {
    position: absolute;
    top: 71.5%;
    right: 32%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon__type {
    position: absolute;
    top: 75.5%;
    right: 32%;
    font-size: clamp(8px, 5vw, 25px);
    text-transform: capitalize;
}